// Extend css property "border(-side)" 

$border-color = #767676

-border($side, args)
  $w = 1px
  $s = solid
  $c =  $border-color
  if length(arguments) == 0
    border{$side}: $w $s $c
  else
    for i in arguments
      if typeof(i) == "rgba" || i == transparent
        $c = i
      else if typeof(i) == "unit"
        $w = i
      else if typeof(i) == "ident"
        $s = i
    border{$side}: $w $s $c

border()
  -border('', arguments)

border-left()
  -border('-left', arguments)

border-right()
  -border('-right', arguments)

border-top()
  -border('-top', arguments)

border-bottom()
  -border('-bottom', arguments)

// Shorthands

border-tb()
  border-top(arguments)
  border-bottom(arguments)

border-lr()
  border-left(arguments)
  border-right(arguments)