padding-tb($px)
  padding-top: $px
  padding-bottom: $px

padding-lr($px)
  padding-left: $px
  padding-right: $px

margin-tb($px)
  margin-top: $px
  margin-bottom: $px

margin-lr($px)
  margin-left: $px
  margin-right: $px

ptb($px)
  padding-top: $px
  padding-bottom: $px

plr($px)
  padding-left: $px
  padding-right: $px

mtb($px)
  margin-top: $px
  margin-bottom: $px

mlr($px)
  margin-left: $px
  margin-right: $px